.work__step__content {
  max-width: 1180px;
  margin: 80px auto 40px auto;

  .work__steps__block {
    display: flex;
    align-items: center;
    margin-top: 50px;

    h5 {
      font-size: 24px;
      color: #E7E7E7;
    }

    p {
      font-weight: bold;
      font-size: 24px;
      color: #E7E7E7;
    }

    .step__icon__block {
      position: relative;
      border: 2px solid #E7E7E7;
      border-radius: 50%;
      margin-left: 57px;
      margin-right: 46px;

      .main__icon {
        width: 96px;
        height: 96px;


        .img-svg {
          display: block;
          padding: 28px;
          width: 100%;
          height: 96px;


        }


      }


      .line__step {
        position: absolute;
        left: 48px;
        bottom: -43px;
      }


    }
  }

  .img-svg path,
  rect {
    fill: #E7E7E7;


  }




}


.work__steps__block:hover path,
.work__steps__block:hover rect,
.work__steps__block:hover h5 {
  fill: #293AA4;
  color: #293AA4;
  transition: 0.5s;
}

.work__steps__block:hover p {
  color: #000;
  transition: 0.5s;

}

.work__steps__block:hover .step__icon__block {
  border-color: #293AA4;
  transition: 0.5s;
}